/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require jquery-ui/draggable

 */
 $neutral-color: #bddfb3;
 $charcoal-color: #313530;

 body {
 	background: $neutral-color;
 	font-family: 'Raleway', sans-serif;
 	color: #444;
 }
 h1, h2, h3, h4, h5, h6 {
 	font-family: 'Anton', sans-serif;
 }
 .row {
 	background: white;
 	padding: 10px;
 }
 .top-bar {
 	padding-left: 10px;
 	box-shadow: 0px 1px 3px $charcoal-color;
 	background-color: $charcoal-color;
 }
 .top-bar img {
 	height: 40px;
 	margin: 5px;
 	display: inline;
 }

 .top-bar .name h1 {
 	display: inline;
 	color: white;
 	font-size: 1.8rem;
 	letter-spacing: 1px;
 	line-height: 100%;
 	vertical-align: middle;
 }
 .pricing-table .title {
 	height: 62px;
 }
.pricing-table .car_thumb {
 	height: 130px;
 }
